<p id="notice"><%= notice %></p>
<div id = "app">
<h2>Questions</h2>
<div class="questions">
    <% @questions.each do |question| %>
      <div class= "question"> <h4><%= question.question %> </h4>
        <div class="answers"> 
          <button class= "answer" data-true="true"><%= question.answer %></button>
          <button class= "answer" data-true="false"><%= question.distractor1 %></button>
          <% if question.distractor2? %>
          <button class= "answer" data-true="false"> <%=question.distractor2 %></button>
          <% end %>
          <% if question.distractor3? %>
          <button class= "answer" data-true="false"><%= question.distractor3 %></button>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
<div class= "div_paginate">
<%= will_paginate @questions, :class => 'apple_pagination' %>
</div>

<br>

<%= link_to 'New Question', new_question_path %>
</div>
